<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="app.swipe">Zurück</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-star-outline" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <strong>{{car.brand}}</strong> {{car.modelGerman}}
  </ion-nav-title>
  <ion-content>
    <ion-scroll zooming="false" direction="x" class="imageScroll">
      <img ng-repeat="(key,image) in car.vehicleImages" ng-src="http://api.hackzurich.amag.ch/hackzurich/image/{{image.id}}/thumbnail"
      ng-click="showImage(car.vin, key)" class="horizontalScroll">
    </ion-scroll>
    <div class="list item-text-wrap">

      <div class="item" href="#">
        <h2>Preis</h2>
        <p><strong>{{car.price | currency}}</strong></p>
      </div>
      <div class="item" href="#">
        <h2>Kilometer</h2>
        <p>{{car.mileage |number}} km</p>
      </div>

      <div class="item" href="#">
        <h2>Inverkehrsetzung</h2>
        <p>{{car.firstRegistration}}</p>
      </div>

      <div class="item" href="#">
        <h2>Fahrzeugart</h2>
        <p>{{car.saleType | saleType}}</p>
      </div>

      <div class="item" href="#">
        <h2>Garantie</h2>
        <p>{{car.guaranty}}</p>
      </div>

      <div class="item" href="#">
        <h2>Getriebeart</h2>
        <p>{{car.gearType | geartypeNameGer}}</p>
      </div>

      <div class="item" href="#">
        <h2>Treibstoff</h2>
        <p>{{car.fuelType | fueltype}}</p>
      </div>

      <div class="item" href="#">
        <h2>Gewicht</h2>
        <p>{{car.weight}}</p>
      </div>

      <div class="item" href="#">
        <h2>Modell-Jahr</h2>
        <p>{{car.modelYear}}</p>
      </div>

      <div class="item" href="#">
        <h2>CO<sub>2</sub>-Emission</h2>
        <p>{{car.emissions}} g/km</p>
      </div>

      <div class="item" href="#">
        <h2>Fahrgestell-Nr.</h2>
        <p>{{car.vin}}</p>
      </div>
      <div class="item" href="#">
        <h2>Zusätzliche Beschreibung</h2>
        <p>{{car.addedValueDescription}}</p>
      </div>
      <div class="item bufferitem" href="#">
      </div>

    </div>

  </ion-content>

  <button class="button button-float call">
        <i class="icon ion-android-call"></i>
      </button>
  <button class="button button-float">
        <i class="icon ion-ios-speedometer-outline"></i>
      </button>
</ion-view>
