<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="app.detail({vin:car.vin})">Zurück</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-star-outline" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <strong>{{car.brand}}</strong> {{car.modelGerman}}
  </ion-nav-title>
  <ion-content style="background-color:black;">
    <ion-scroll zooming="false" direction="x" class="imageScroll big">
      <img ng-repeat="(key,image) in car.vehicleImages" ng-src="http://api.hackzurich.amag.ch/hackzurich/image/{{image.id}}/thumbnail"
      ng-click="showImage(car.vin, key)" class="horizontalScroll big">
    </ion-scroll>

  </ion-content>
</ion-view>
