<ion-view view-title="Swipe-a-car">
  <ion-content style="padding: 12px;">
    <div style="padding-top:3em;">
      <h3 style="padding-bottom: 1em;">Willkommen bei <strong>swipe-a-car</strong>!</h3>
      <p>Mit swipe-a-car kannst du auf spielerische Art Autos finden, die zu dir passen.</p>
      <h4 style="text-align:right;margin-top:3em;">
        <i class="icon ion-chevron-right" style="float:right; font-size: 64px;margin-left: 20px;position:relative; top: -10px;"></i> Wische nach rechts, wenn dir ein Auto gefällt ...</h4>
      <h4 style="text-align:left;margin-top:3em;">
        <i class="icon ion-chevron-left" style="float:left; font-size: 64px;margin-right: 20px;position:relative; top: -10px;"></i> ... oder nach links, wenn es dir nicht gefällt.</h4>

      <button style="margin-top:4em;" class="button button-full button-positive" ng-click="next()">
        Weiter
      </button>
    </div>
  </ion-content>
</ion-view>
