<ion-view view-title="Swipe-a-car">
  <ion-content style="padding: 12px;">
    <div style="padding-top:3em;">
      <h3 style="padding-bottom: 1em;">Kennenlernen</h3>
      <h4>Um dir gute Vorschläge machen zu können, möchte ich dich etwas kennenlernen.<br><br>
        Bitte wähle
        aus den Vorschlägen 10 Autos aus, die dir spontan zusagen.</h4>
      <button style="margin-top:4em;" class="button button-full button-positive" ng-click="next()">
        Los gehts!
      </button>
    </div>
  </ion-content>
</ion-view>
