<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="app.swipe">Zurück</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-star-outline" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="car in favoriteService.getAllLikes() | reverse"  class="item-thumbnail-left likeItem" ui-sref="app.detail({vin: car.vin})">
        <img class="likeCarItems" ng-src="http://api.hackzurich.amag.ch/hackzurich/image/{{car.vehicleImages[0].id}}/thumbnail">
        <h2><strong>{{car.brand}}</strong> {{car.modelGerman}}</h2>
        <p>{{car.price | currency}}</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
