<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-star-outline" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="dark">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menü</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close href="#" ng-click="clearLikeHistory()">
          <h2>Tour neustarten</h2>
        </ion-item>
        <ion-item menu-close href="#">
          <h2>Einstellungen</h2>
        </ion-item>
        <ion-item menu-close href="#">
          <h2>Impressum</h2>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right" class="dark">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Favoriten</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="car in favoriteService.getToplist() | reverse" menu-close ui-sref="app.detail({vin: car.vin})" class="item-thumbnail-left favorite">
          <img ng-src="http://api.hackzurich.amag.ch/hackzurich/image/{{car.vehicleImages[0].id}}/thumbnail">
          <h2><strong>{{car.brand}}</strong> {{car.modelGerman}}</h2>
          <p>{{car.price | currency}}</p>
        </ion-item>
        <ion-item ng-show="favoriteService.getToplist().length === 0">
          <p>Du hast noch keine Autos geliked.</p>
        </ion-item>
        <ion-item ng-show="favoriteService.getToplist().length > 0">
          <p class="allLikes"><a class="allLikeslink" menu-close ui-sref="app.likes">Alle Likes anzeigen</a></p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
