<ion-view view-title="">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-star-outline" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-content>
    <td-cards>
      <td-card ng-repeat="car in cards" on-destroy="cardDestroyed()" on-transition-left="cardTransitionLeft()" on-transition-right="cardTransitionRight()">
        <div class="image">
          <div class="actualImage" back-img="http://api.hackzurich.amag.ch/hackzurich/image/{{car.vehicleImages[0].id}}"></div>
          <div class="yes-or-no-text no-text"><i class="icon ion-ios-close-outline"></i></div>
          <div class="yes-or-no-text yes-text"><i class="icon ion-ios-checkmark-outline"></i></div>

          <div class="carDetails">
            <p class="carName">
              <strong>{{car.brand}}</strong> {{car.modelGerman}}</p>
            <p class="carPrice">{{car.price | currency}}</p>
            <p class="carMileage">{{car.mileage |number}} km</p>
          </div>

        </div>
      </td-card>
    </td-cards>
    <div class="actionBar">
      <a class="button button-large button-icon icon ion-ios-close-outline" style="color:red;" ng-click="cardTransitionLeft();cardDestroyed();"></a>
      <a ng-show='!isInit' class="button button-small button-icon icon ion-ios-information-outline" style="color:grey;" ng-click="openDetail()"></a>

      <a class="button button-large button-icon icon ion-ios-checkmark-outline" style="color:green;" ng-click="cardTransitionRight();cardDestroyed();"></a>
    </div>

    <div class="progress" ng-if="isInit">
      <div class="pace pace-active">
        <div class="pace-progress" data-progress="{{favoriteService.getToplist().length * 10}}" data-progress-text="{{favoriteService.getToplist().length * 10}}%" style="-webkit-transform: translate3d({{favoriteService.getToplist().length * 10}}%, 0px, 0px); -ms-transform: translate3d({{favoriteService.getToplist().length * 10}}%, 0px, 0px); transform: translate3d({{favoriteService.getToplist().length * 10}}%, 0px, 0px);">
          <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
