/* Empty. Add your own CSS if you like */

td-cards {
  display: block;
}
td-card {
  position: absolute;
  left: 50%;
  margin-top: 22px;
  margin-bottom: 40px;
  margin-left: -180px;
  width: 360px;
  height: 350px;
  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
}

/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/

td-card .image {
  position: relative;
}
td-card div.actualImage {
  height: 300px;
  max-width: 100%;
  background-position: center;
}
.yes-or-no-text {
  text-shadow: 1px 1px 2px black, 0 0 1em white;
}
.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: green;
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: red;
  opacity: 0;
}
.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}
div.carDetails {
  padding: 2px 6px;
}
p.carName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1px;
}
p.carPrice {
  text-align: right;
  font-weight: bold;
  position: absolute;
  bottom: 2px;
  right: 6px;
}
div.actionBar {
  position: absolute;
  margin-top: 400px;
  text-align: center;
  width: 100%;
  z-index: -1;
}
div.actionBar a.button-large:before {
  font-size: 82px;
}
div.actionBar a.button-small {
  margin-top: 18px;
}
div.actionBar a.button-small:before {
  font-size: 50px;
}
ion-scroll.imageScroll {
  overflow: scroll;
  white-space: nowrap;
}

ion-scroll.imageScroll.big {
  position: relative;
  margin-top: 33%;
}

img.horizontalScroll {
  display: inline;
  height: 120px;
}


img.horizontalScroll.big {
  height:300px;
}

.scroll {
  min-width: 100%;
}
ion-item.favorite {
  min-height: 55px;
}
ion-item.favorite .item-content {
  padding-left: 78px;
  min-height: auto;
  padding-right: 12px;
}
ion-item.favorite .item-content img:first-child {
  height: auto;
  max-width: 55px;
}
div.progress {
  position: absolute;
  left: 50%;
  top: 488px;
  margin-left: -100px;
}

/* dark theming */

.dark, .dark h1, .dark ion-header-bar {
  background-color: #3f4041 !important;
  color: #ffffff;
}
.dark h1 {
  color: white !important;
}
.dark .scroll-content {
  background-color: #3f4041 !important;
}
.dark .item, .dark .item a {
  background-color: #3f4041;
  border: none;
  border-top: 1px solid #464646;
  border-bottom: 2px solid #333333;
}
.dark .item a.activated {
  background-color: #3f4041;
}
.dark .item a h2 {
  color: white;
}
.dark .item a p {
  color: #BBB;
}
.dark .item:first-child {
  border-top: 1px solid black;
}
.dark .item:last-child {
  border-bottom: 1px solid #333333;
}
.dark .item.current {
  background-color: #262727 !important;
  border-top: 1px solid #464646 !important;
  border-bottom: 2px solid #333333 !important;
}
.dark .item.current p, .dark .item.current h3 {
  opacity: .7;
}
.button-float {
  background: green !important;
  color: white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
}
.button-float.call {
  right: 70px !important;
}
.button-float:hover {
  -webkit-transform: translate3d(0, -1px, 0) !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  background: #e42112 !important;
}
.bufferitem {
  height: 65px;
}
p.allLikes {
  text-align: center;
}
p.allLikes a.allLikeslink {
  color: white;
  border: none;
  text-align: center;
}

img.likeCarItems{
  width: auto !important;
  height: auto !important;

    max-height: 47px !important;;
}
.likeItem, .likeItem a{
  min-height: auto !important;
}
